# .gitignore
# Ignore zone identifier files
*.zone.identifier
*:Zone.Identifier


# Ignore environment variable files
.env
.env.local
.env.*.local
# Ignore log files
*.log
# Ignore temporary files
*.tmp
*.temp
